:root {
	--marginBy: 30px;
}

.headerWrap {
	display: flex;
	font-size: 3em;
	background: #202020;
	width: 100%;
	justify-content: center;
	padding-top: 15px;
	padding-bottom: 15px;
}

.holdsHeaderChildren {
	max-width: 500px;
	width: inherit;
	display: flex;
	justify-content: space-evenly;
}
.headerText {
	margin-left: 10px;
}

.siblingWrapper {
	display: flex;
}

.burger:hover {
	opacity: 75%;
	cursor: pointer;
}
