:root {
	--marginBy: 30px;
}

.headerWrap {
	display: flex;
	font-size: 3em;
	background: #202020;
	width: 100%;
	padding: var(--marginBy);
	justify-content: center;
}

.holdsHeaderChildren {
	width: 500px;
	display: flex;
	justify-content: space-around;
}
.headerText {
	margin-left: 10px;
}

.siblingWrapper {
	display: flex;
	justify-self: center;
	flex-direction: row;
}
.burger {
	justify-self: center;
}

.burger:hover {
	opacity: 75%;
	cursor: pointer;
}
