.navTaskAreaParent {
	display: flex;
}
.navWrapOutside {
	width: 100%;
	background: rgb(44, 44, 44);
}
.navWrap {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.navWrap > * {
	width: 100%;
}
.allTodayMonthWrapper {
	display: flex;
	flex-direction: column;
}
.allTodayMonthWrapper > * {
	display: grid;
	grid-template-columns: 3em 3em;
	justify-items: start;
}
.navButtonText {
	pointer-events: none;
}
.projText {
	white-space: nowrap;
	overflow: hidden;
	pointer-events: none;
}
.projectsWrapper {
	display: flex;
	flex-direction: column;
}
.projectsWrapper > * {
	display: grid;
}
.holdsIconAndName {
	display: grid;
	pointer-events: none;
}
.staticProject {
	display: flex;
}

.makeGreen {
	color: green;
	max-width: fit-content;
	align-self: center;
}
.fa-folder {
	color: #75493a;
}

.navButton {
	border: 1px solid var(--nocolor);
}

.deleteTask {
	border: 1px solid var(--nocolor);
}
.deleteProj {
	border: 1px solid var(--nocolor);
}
