@media only screen and (min-width: 768px) {
	#container {
		height: 100vh;
	}
	.navTaskAreaParent {
		flex-direction: row;
		height: 100%;
	}
	.headerWrap {
		height: 5em;
	}
	.holdsHeaderChildren > * {
		font-size: 4em;
	}
	.navWrapOutside {
		flex-basis: 20em;
		min-width: 20em;
	}
	.navWrap {
		flex-basis: 20em;
		min-width: 20em;
		margin-top: 1em;
	}
	.navWrap > * {
		display: flex;
		align-items: flex-start;
		font-size: 2em;
	}
	.staticProject {
		justify-content: center;
	}
	.navWrap > .formSubTree {
		align-items: center;
	}
	.taskWrapper {
		flex-basis: auto;
		align-items: flex-start;
		align-content: flex-start;
		width: 100%;
		max-width: 100%;
		align-items: center;
	}
	.taskTitleWrapper {
		font-size: 3em;
		align-self: center;
		overflow: hidden;
		white-space: nowrap;
	}
	.mytitle {
		overflow: hidden;
		white-space: nowrap;
	}
	.allTodayMonthWrapper > * {
		align-self: center;
	}
	.taskWrapper > .newItemButtonWrapper {
		font-size: 3em;
		align-self: center;
		margin-top: 1em;
	}
	.taskwrap {
		font-size: 1.8em;
		margin-left: 1em;
		align-items: center;
	}
	.renderTasks {
		max-width: 100%;
		margin-top: 1em;
	}

	.taskwrap {
		display: grid;
		grid-template-columns: calc(100% - 2em) 1em;
		gap: 0.5em;
		margin-top: 0.5em;
		width: 100%;
		justify-content: center;
	}
	.childwrap {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 0.2em;
		align-items: center;
	}
	.projectsWrapper > * {
		grid-template-columns: 0px 85% 1em;
		width: 90%;
		align-self: center;
	}
	.holdsIconAndName {
		grid-template-columns: 1em 5em;
		justify-items: start;
		overflow: hidden;
		white-space: nowrap;
		gap: 0.1em;
	}
	.navWrap > .formInput {
		max-width: 2em;
	}
	.navWrap > .formSubTree > * {
		align-self: center;
		max-width: 8em;
	}
	.newItemButtonWrapper > .formSubTree:nth-child(1):nth-child(1) {
		max-width: 8em;
	}
	.footerHolder > * {
		font-size: 2em;
	}
}

@media only screen and (max-width: 767px) {
	.navTaskAreaParent {
		flex-direction: column;
	}
	.navWrapOutside {
		justify-content: center;
	}
	.navWrap > * {
		font-size: 1.5em;
		margin-top: 0.5em;
	}
	.allTodayMonthWrapper {
		align-items: center;
	}
	.siblingWrapper > * {
		font-size: 2.5em;
	}
	.burger {
		font-size: 2.5em;
	}
	.headerWrap {
		height: 4em;
	}
	.projectsWrapper > * {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}
	.allTodayMonthWrapper > * {
		margin-top: 0.2em;
	}
	.projectsWrapper > * {
		margin-top: 0.2em;
	}
	.staticProject {
		justify-content: center;
	}
	.projectsWrapper {
		align-items: center;
	}
	.taskTitleWrapper {
		font-size: 2em;
		margin-top: 0.5em;
	}
	.renderTasks {
		font-size: 1em;
		width: 100%;
		margin-top: 0.5em;
		align-items: center;
	}

	.taskwrap {
		margin-right: 0.2em;
		margin-left: 0.2em;
	}
	.taskWrapper {
		align-items: center;
	}
	.formInputAndButtonWrap {
		align-items: center;
	}
	.taskWrapper > .newItemButtonWrapper {
		font-size: 1.5em;
		margin-top: 0.5em;
	}
	.holdsIconAndName {
		grid-template-columns: 1em 1fr;
		gap: 0.1em;
	}
	.projText {
		text-align: start;
	}
	.dateThing {
		max-width: 8.7em;
	}
	.deleteTask {
		justify-content: start;
		font-size: 1.5em;
	}
	.formButtonWrap {
		justify-content: center;
	}
	.makeGreen {
		align-self: center;
	}
	.taskwrap {
		display: grid;
		/* grid-template-columns: 90% 1.5em; */
		grid-template-columns: clamp(90%, 90%, 90%) 1.5em;
		margin-top: 0.5em;
		width: 90%;
		justify-content: center;
	}
	.childwrap {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 0.2em;
		align-items: center;
		font-size: 1.5em;
	}
	.subbtn {
		margin-right: 1.2em;
	}
	.projectsWrapper > * {
		grid-template-columns: 0em 5em 1em;
		gap: 0.5em;
	}
	.formInput {
		max-width: 8em;
		align-self: center;
	}
	.formButtonWrap {
		max-width: 5em;
		align-self: center;
	}
	.footerHolder {
		font-size: 1.5em;
	}
}

@media only screen and (max-width: 325px) {
	.taskwrap {
		display: grid;
		grid-template-columns: 9fr 1.5em;
		margin-top: 0.5em;
		width: 90%;
		justify-content: center;
	}
	.childwrap {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 0.2em;
		align-items: center;
	}
}
