#container {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	align-content: center;
}

.headerWrap {
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	padding: 10px;
	margin: 5px;
	width: 300px;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	align-content: center;
}

.navWrap {
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	padding: 10px;
	margin: 5px;
	width: 300px;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	align-content: center;
}

.navWrap > * {
	margin: 3px;
}

.contentWrap {
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	padding: 10px;
	margin: 5px;
	width: 300px;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	align-content: center;
}

button {
	max-width: fit-content;
}
