.taskWrapper {
	display: flex;
	flex-direction: column;
}
.renderTasks {
	display: flex;
	flex-direction: column;
}
.taskwrap > * {
	white-space: nowrap;
	overflow: hidden;
}
.modifyName {
	white-space: nowrap;
	overflow: hidden;
}
.from {
	white-space: nowrap;
	overflow: hidden;
}
