.taskWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.renderTasks {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.taskwrap {
	display: grid;
	grid-template-columns: auto 2em;
}
.childwrap {
	display: grid;
	grid-template-columns: 5em 5em 9em;
}
