.formSubTree {
	display: flex;
	flex-direction: column;
	max-width: 400px;
	align-items: center;
	flex-wrap: nowrap;
}

.formSubTree > * {
	border: 1px solid var(--nocolor);
}

.formButtonWrap {
	display: flex;
	align-content: center;
	justify-content: space-evenly;
}
.formButtonWrap > * {
	border: 1px solid var(--nocolor);
}
.formInput {
	max-width: 300px;
	display: flex;
	text-align: center;
}

.subbtn {
	color: rgb(2, 105, 2);
}

.canbtn {
	color: rgb(156, 0, 0);
}
