.footerHolder {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}
.footerText {
	margin-right: 1em;
}
.footer {
	display: flex;
	width: 100%;
	justify-content: center;
	margin-top: 3em;
}

.footerHolder > button {
	border: 1px solid transparent;
	margin-left: 0.5em;
}

.fa-copyright {
	color: #ffaa00;
}

.fa-linkedin {
	color: #0077b5;
}
.fa-code {
	color: lime;
}
