.projectsWrapper {
	display: flex;
	flex-direction: column;
	width: inherit;
}

.projectItemWrapper {
	display: grid;
	border: 1px solid var(--navBgColor);
	grid-template-columns: 1fr 8fr 1fr;
	max-width: 400px;
}

.projText {
	white-space: nowrap;
	overflow: hidden;
	pointer-events: none;
}

.deleteProj {
	visibility: hidden;
	color: var(--delete);
}

.projectItemWrapper:hover .deleteProj {
	visibility: visible;
}
