:root {
	--mainWidth: 300px;
	--mainBgColor: #3d3d3d;
	--hoverColor: #7272724f;
	--delete: #c50e11;
	--nocolor: rgba(0, 0, 0, 0);
}

body {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	background: #3d3d3d;
	color: #f1f0ea;
}

button,
input[type='submit'],
input[type='reset'] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

input {
	border-radius: 8px;
	border: none;
}

svg {
	pointer-events: none;
}

.svg {
	pointer-events: none;
}

#container {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
}

/* #container > * {
	width: var(--mainWidth);
	margin-top: 1em;
} */

button:hover {
	background: #7272724f;
	border: 1px solid #7272724f;
	border-radius: 8px;
}
button:active {
	background: #7272727e;
	border: 1px solid #7272727e;
	border-radius: 8px;
}

html {
	overflow: scroll;
	overflow-x: hidden;
}
::-webkit-scrollbar {
	width: 0; /* Remove scrollbar space */
	background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
	background: #ff0000;
}
