.taskwrap {
	display: grid;
	grid-template-columns: auto 1fr;
	margin-top: 2px;
	margin-bottom: 2px;
}
.childwrap {
	display: grid;
	width: inherit;
	grid-template-columns: 5em 5em 150px;
}

.modifyName {
	display: flex;
	white-space: 100px;
	max-width: 75px;
	word-wrap: break-word;
	overflow: hidden;
}
