.taskwrap {
	display: grid;
	grid-template-columns: auto 1fr;
	margin-top: 2px;
	margin-bottom: 2px;
	box-sizing: border-box;
	border: none;
}
.childwrap {
	display: grid;
	width: inherit;
	grid-template-columns: 5em 5em 150px;
	box-sizing: border-box;
	border: none;
}

.modifyName {
	display: flex;
	max-width: 60px;
	box-sizing: border-box;
	border: none;
	overflow: clip;
	white-space: nowrap;
}

.modifyName:hover {
	overflow: visible;
	word-wrap: normal;
	font-weight: 600;
}

.modifyName:focus {
	border: none;
}

[contenteditable] {
	outline: 0px solid transparent;
}

.modifyName:hover ~ .from {
	visibility: hidden;
}
.modifyName:hover ~ .dateThing {
	visibility: hidden;
}

.from {
	max-width: 60px;
	white-space: nowrap;
	box-sizing: border-box;
	border: none;
	overflow: clip;
}

.from:hover {
	overflow: visible;
	word-wrap: normal;
	white-space: nowrap;
	font-weight: 600;
}

.from:hover ~ .modifyName {
	visibility: hidden;
}
.from:hover ~ .dateThing {
	visibility: hidden;
}

.dateThing {
	box-sizing: border-box;
	border: none;
}

.deleteTask {
	visibility: hidden;
}
